*{margin: 0;
padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f4f408;
  max-width: 500px;
 margin: auto;
  padding: 20px;
}



form {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 8px;
}


button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}



#task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#task-list li {
  background: gray;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}




#filters {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#filters button.active {
  background: #28a745;
}